$dark-1: rgb(15, 15, 15);
$dark-2: rgb(20, 20, 20);
$dark-3: rgb(25, 25, 25);
$dark-4: rgb(70, 70, 70);

$light-1: rgb(255, 255, 255);
$light-2: rgb(240, 240, 240);
$light-3: rgb(224, 224, 224);
$light-5: rgb(200, 200, 200);

$green-1: rgb(169, 251, 75);
